<!--for case a ModelState is no valid-->
@*@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 id="msgRetorno">Opa! Algo deu errado:</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
}*@


<!--Get messages from DomainNotification-->
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 id="msgRetorno">Ops! Somethins went wrong:</h3>
        <p><i class="fa fa-times" style="font-size:15px;color:orangered"></i>&nbsp@TempData["Erro"]</p>
    </div>
}

@if (TempData["Errors"] != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 id="msgRetorno">Ops! Somethins went wrong:</h3>
        @{
            var erros = TempData["Errors"] as IEnumerable<string>;
            foreach (var erro in erros)
            {
                <p><i class="fa fa-times" style="font-size:15px;color:orangered"></i>&nbsp @erro</p>
            }
        }

    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Sucesso))
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 id="msgRetorno">@ViewBag.Sucesso</h3>
    </div>
}