@model IEnumerable<Forum.Application.DTO.AreaDTO>

@{
    ViewData["Title"] = "Home";
}
<link href="~/css/home.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2> Welcome to forum Nerd</h2>
                        <span>Feel free to choose topic you're interested in.</span>
                    </div>
                </div>

                <div class="ibox-content forum-container">

                    @{
                        foreach (var item in Model)
                        {
                            if (item.Sections.Count() != 0)
                            {
                                <div class="forum-title">
                                    <div class="pull-right forum-desc">
                                        <samll>Total posts: 320,800</samll>
                                    </div>
                                    <h3>@item.Name</h3>
                                </div>



                                foreach (var sec in item.Sections)
                                {
                                    <div class="forum-item active">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="forum-icon">
                                                    <i class="fa fa-shield"></i>
                                                </div>
                                                <a class="forum-item-title" asp-controller="Topic" asp-action="Index" asp-route-id="@sec.Id">@sec.Name</a>
                                                <div class="forum-sub-title">Talk about sports, entertainment, music, movies, your favorite color, talk about enything.</div>
                                            </div>
                                            <div class="col-md-1 forum-info">
                                                <span class="views-number">
                                                    1216
                                                </span>
                                                <div>
                                                    <small>Views</small>
                                                </div>
                                            </div>
                                            <div class="col-md-1 forum-info">
                                                <span class="views-number">
                                                    368
                                                </span>
                                                <div>
                                                    <small>Topics</small>
                                                </div>
                                            </div>
                                            <div class="col-md-1 forum-info">
                                                <span class="views-number">
                                                    140
                                                </span>
                                                <div>
                                                    <small>Posts</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }


                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>