@model Forum.Application.DTO.Identity.ForgotPasswordDTO

@{

    ViewBag.Title = "Forgot Password";

    var isSuccessSentEmail = TempData["ForgotPasswordSent"] != null ? true : false;
    var emailTo = TempData["EmailTo"];
}
<head>
    <link href="~/css/forgot-password/forgot-password.css" rel="stylesheet" />
</head>

    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h2>Forgot your password?</h2>
                <p>Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                    <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
                    <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
                </ol>
            </div>
            <form class="card mt-4" asp-action="ForgotPassword" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="email-for-pass">Enter your email address</label>
                        <input asp-for="Email" class="form-control" type="text" id="email-for-pass" required=""><small class="form-text text-muted">Enter the email address you used during the registration on forumnerd.com. Then we'll email a link to this address.</small>
                    </div>
                </div>
                <div class="card-footer"> <button class="btn btn-success" type="submit">Get New Password</button> </div>
            </form>
        </div>
    </div>

</div>


<div class="modal fade bd-example-modal-lg" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"><i class="fa fa-check-circle" style="font-size:40px;color:lightgreen"></i>&nbsp Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>A email was sent to: @emailTo</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">


    function openPopup() {
        $("#successModal").modal('show');
    }

     $('#idButton').click(function () {
         alert('test');
     })


    var sucesss = JSON.parse(@Html.Raw(Json.Serialize(isSuccessSentEmail)));
    if (sucesss)
    {
        document.getElementById("email-for-pass").value = "";
        openPopup();
        
    }

    </script>
}


