@model Forum.Application.DTO.Identity.ForgotPasswordDTO

@{

    ViewBag.Title = "Forgot Password";
}
<head>
    <link href="~/css/forgot-password/forgot-password.css" rel="stylesheet" />
</head>

<div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h2>Forgot your password?</h2>
                <p>Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                    <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
                    <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
                </ol>
            </div>
            <form class="card mt-4" asp-action="ForgotPassword" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="email-for-pass">Enter your email address</label>
                        <input asp-for="Email" class="form-control" type="text" id="email-for-pass" required=""><small class="form-text text-muted">Enter the email address you used during the registration on forumnerd.com. Then we'll email a link to this address.</small>
                    </div>
                </div>
                <div class="card-footer"> <button class="btn btn-success" type="submit">Get New Password</button> </div>
            </form>
        </div>
        <button type="button"
                class="btn btn-primary"
                data-mdb-toggle="modal"
                data-mdb-target="#exampleFrameModal2">
            Launch frame modal
        </button>
    </div>
</div>

<!-- Modal frame bottom example -->
<div class="modal fade bottom"
     id="exampleFrameModal2"
     tabindex="-1"
     aria-labelledby="exampleFrameModal2"
     aria-hidden="true">
    <div class="modal-dialog modal-frame modal-bottom">
        <div class="modal-content rounded-0">
            <div class="modal-body py-1">
                <div class="d-flex justify-content-center align-items-center my-3">
                    <p class="mb-0">We use cookies to improve your website experience</p>
                    <button type="button"
                            class="btn btn-success btn-sm ms-2"
                            data-mdb-dismiss="modal">
                        Ok, thanks
                    </button>
                    <button type="button" class="btn btn-primary btn-sm ms-2">Learn more</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal frame bottom example-->