@model Forum.Application.DTO.UpdateUserPasswordDTO

@{

    ViewBag.Title = "Change Password";
}

<head>
    <link href="~/css/update-password/updatepassword.css" rel="stylesheet" />
</head>


@*Credits for the form register: https://www.bootdey.com/snippets/view/Register-Form#js*@

<div class="container">

    <vc:summary />

    <div class="row">
        <div class="col-md-5">
            <div class="card cardbox">
                <div class="card-header">Change Password</div>
                <div class="card-body">

                    <div class="form-group">


                        <form id="login-nav" asp-action="UpdatePassword" method="post" role="form" class="form" accept-charset="UTF-8">

                            <input hidden asp-for="Id" />
                            <input hidden asp-for="IdentityId" />

                            <!-- email group -->
                            <div class="form-group">
                                <label class="sr-only">E-mail Address</label>
                                <input type="password" asp-for="OldPassword" id="reg_useremail" class="form-control"
                                       placeholder="your old password" required>
                            </div>

                            <!-- password group -->
                            <div class="form-group">

                                <!-- password label -->
                                <label class="sr-only">Password</label>
                                <!-- password input -->
                                <div class="input-group">
                                    <input type="password" asp-for="Password" id="reg_userpassword" class="form-control" data-placement="bottom" data-toggle="popover" data-container="body"
                                           data-html="true" placeholder="New Password" required>

                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="button-append1" onclick="togglePassword()">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- password progresbar -->
                                <div class="progress mt-1" id="reg-password-strength">
                                    <div id="password-strength" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                    </div>
                                </div>

                                <!-- Password Rules -->
                                <div id="reg_passwordrules" class="hide password-rule mt-2">
                                    <small>

                                        <ul class="list-unstyled">
                                            <li class="">
                                                <span class="eight-character"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                &nbsp; min 8 character
                                            </li>
                                            <li class="">
                                                <span class="low-upper-case"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                &nbsp; min 1 uppercase & 1 lowercase character
                                            </li>
                                            <li class="">
                                                <span class="one-number"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                &nbsp; min 1 number
                                            </li>
                                            <li class="">
                                                <span class="one-special-char"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                                &nbsp; min 1 special char
                                            </li>
                                        </ul>
                                    </small>
                                </div>

                            </div>

                            <!-- password-confirm group -->
                            <div class="form-group">

                                <!-- password-confirm label -->
                                <label class="sr-only">Password Confirm</label>
                                <!-- password-confirm input -->
                                <div class="input-group">
                                    <input type="password" asp-for="ConfirmPassword" id="reg_userpasswordconfirm" class="form-control" data-placement="bottom"
                                           data-toggle="popover" data-container="body" data-html="true" placeholder="Password Confirm" required>

                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="button-append2" onclick="togglePassword()">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>

                                </div>
                                <!-- password-confirm error message -->
                                <div class="help-block text-right">
                                    <small>
                                        <span id="error-confirmpassword" class="hide pull-right block-help">
                                            <i class="fa fa-info-circle text-danger" aria-hidden="true"></i>Don't match password'
                                        </span>
                                    </small>
                                </div>

                            </div>

                            <!-- Submit -->
                            <div class="form-group">
                                <button id="reg_submit" name="submit" value="1" class="btn btn-block btn-primary">Confirm</button>
                                <a id="cancelPassword" class="btn btn-block btn-warning">Cancel</a>

                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
